*{
    background-color: #0a0908;
    color: #c6ac8f;
    margin-top: .375%;
    margin-left: 2px;
    box-sizing: border-box;
}
[data-letter-crap] {
    display: flex;
	white-space: pre;
	overflow: hidden;
	font-size: 10px;
	line-height: 10px;
	font-family: monospace;
	padding-left: .375%;
    margin-top: -20px;
}

.header{
    display: flex;
    flex-direction: column;
    border: solid 1px #c6ac8f;
    /* padding-bottom: 100%; */
}
.ascii-banner{
    display: flex;
    text-align: center;
    padding-bottom: 2%;
}

.name{
    display: flex;
    justify-content: center;
    /* font-size: 310%; */
    font-family: reglo;
    text-transform: uppercase;
    margin-top: 10px;
}
.link-bar{
    font-family: reglo;
    display: flex;
    justify-content: space-around;
    padding-top: .375%;
    padding-bottom: 1%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: line-through;
}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.title{
    font-family: reglo;
}
.about{

}
.contact{

}
.portfolio{
    display: flex;
}
img{
    height: auto;
    width: 50%;
    aspect-ratio: 16 / 9;
}


.resource-title{
    display: flex;
    font-family: reglo;
    justify-content: center;
    padding-top: 2%;
}
.resources{
    display: flex;
}